# Cloudinary
VITE_CLOUDINARY_NAME=

# Choose development or production for query stale time
VITE_QUERY_ENV=development

# Backend API URL
VITE_API_URL=http://localhost:3001

# Turnstile (CAPTCHA)
VITE_TURNSTILE_SITE_KEY=